body {
  background-image: url(/public/img/img1.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  padding: 0 60px;
}

.nav-link {
  display: flex;
  justify-content: space-around;
}

.logo1 img {
  width: 150px;
  height: 30px;
}

.nav-link li {
  list-style: none;
  /* padding:1px 5px; */
  margin: 0 9px;
}

.nav-link li button {
  border-radius: 15px;
  /* width: 150px; */
  text-decoration: none;
  /* background-color: #35515d; */
  background-color: rgba(17, 52, 70, 0.5294117647058824);
  stroke-width: 1;
  border: none;
  /* padding:20px; */
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
.nav-link li img {
  margin: 0 10px;
}

.nav-link li .btn-2 {
  width: 155px;
  height: 39px;
}
.nav-link li .btn-2 img {
  width: 21px;
  height: 16px;
}

.nav-link li .btn-1 img {
  width: 20px;
  height: 16px;
}

.nav-link li .btn-1 {
  width: 200px;
  height: 39px;
}

.nav-link img {
  width: 10px;
  height: 10px;
}

/* navbar */

.section {
  margin: auto;
  width: 1172px;
  height: 1127px;
  background-color: rgba(17,52,70,0.5294117647058824 );
  padding: 30px;
  color: #fff;
  /* opacity: 0.95; */
  border-radius: 15px;
  margin-top: 41px;
}

.section .sec-1 {
  width: 1087px;
  height: 288px;
  font-size: 20px;
  margin: 0 13px;
  fill-rule: evenodd;
  letter-spacing: 1px;
}

.m-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.grid-container {
  text-align: left !important;
  background-color: #0e2634;
  border-radius: 15px;
}

.item1 {
  grid-area: header;
  margin-left: 35px;
}
.item1 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item2 {
  grid-area: footer;
  font-size: 20px;
  padding-left: 20px;
  letter-spacing: 1px;

}

.grid-container {
  display: grid;
  grid-template-areas: "menu footer footer footer footer footer";
  padding: 10px;
  height: 160px;
}

.centerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 img {
  width: 48px;
  height: 48px;
}
.card {
  margin: 9px 0px;
}

.mt-4 {
  margin-top: 10px;
}

.centerBtn button {
  text-decoration: none;
  border: none;
  border-radius: 30px;
  background-color: #f80705;
  padding: 10px 65px;
  width: 387px;
  height:59px;
  margin-top: 19px;
  margin-left: 11px;
  color: #fff;
  font-size: 18px;
  /* letter-spacing:1px; */
  font-weight: bold;
}

.centerBtn img{
  margin-left: 12px;
}
.section .sec-2 {
  margin-top: 50px;
  margin-left:  0px!important;
  margin-right:  0px!important;

}

.section .sec-2.card {
  width: 1110px;
  margin: 0 6px;
}

.section .sec-2 #overview {
  height: 199px;
}


.section .sec-2 #teamwork {
  height: 217px;
}


.section .sec-2 #penalty {
  height: 187px;
}
